<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<main id="site-main">
    <div class="container">
      <div class="box-nav d-flex justify-between">
        <div class="filter">
          <a href="/">All Users</a>
        </div>
      </div>
      <div class="form-title text-center">
        <h2 class="text-dark">New User</h2>
        <span class="text-light"
          >Please fill the below form to create a new user account</span
        >
      </div>
      <!-- form handle -->
      <%- include('include/_form') %>
      <!-- /form handle -->
    </div> 
  </main>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->